*{
    
    font-family: 'Times New Roman', Times, serif;
    
}
body{
    background-color: antiquewhite;
}
div{
    padding: 10px;
    height:250px;
    margin:10px;
    border: 1px solid black;
    background-color: aliceblue;
    word-wrap: break-word;
    overflow: hidden;

}
 .div2{
    border: 2px dashed black;
 }
.paragraph2{
    margin:5px;
    padding: 10px;
    height: 100px;
    word-wrap: break-word;
    overflow: hidden;
    border: 2px dashed red;
}
 .ipsum{
    font-weight: bold;
    background-color: orange;
}
.quis{
    font-weight: bold;
    background-color: yellow;
}
.div3{
    color:blueviolet;
}