.hero-section{
    position:relative;
width: 100%;
height: 650px;
margin:5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.304),rgba(0, 0, 0, 0.825)),url("assets/img/office-925806_1280.jpg");


    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    /* filter: blur(8px); */
    
    z-index: 0;
    overflow: hidden;
    color:white;
}
.content{
    opacity: 100%;
    position:absolute;
    z-index: 5;
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.content button{
    width:90px;
    
    height:50px;
    padding:15px;
    border-radius: 5px;
    background-color: #7d7d7d;
    
}